
<!DOCTYPE html>

<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/viewscript/sys/menupermission/index.js"></script>
    <meta charset="utf-8" />
    <title>功能操作（系统按钮）管理</title>
</head>
<body>
    <div style="background-color:#EFEFEF; height:100%; position:relative; ">
        <div style="float:left; width:12.5%; background-color:#fff; height:100%; overflow-x:auto; overflow-y:auto; display:block; padding:10px; ">
            <ul id="menuTree" class="easyui-tree"></ul>
            <input id="ModuleId" type="hidden" />
        </div>
        <div style="float:right;width:87%; background-color:#fff;height:100%; ">
            <div style="margin:10px 0px; padding:5px; overflow-y:auto;">
                <div style="margin-bottom:10px;">
                    <div class="btn-group" role="group" aria-label="...">
                        <button id="btn_add" class="btn btn-default" data-permisson="actionbutton">新增</button>
                        <button id="btn_edit" class="btn btn-default" data-permisson="actionbutton">编辑</button>
                        <button id="btn_del" class="btn btn-default" data-permisson="actionbutton">删除</button>
                        <button id="btn_refresh" class="btn btn-default" data-permisson="actionbutton">刷新</button>
                        <input type="hidden" name="MenuId" id="MenuId" value="@ViewBag.MenuId" />
                    </div>
                </div>
                <table id="jqGrid" style="width:100%;"></table>
                <div id="jqGridPager">
                </div>
            </div>
            <div class="contextMenu row" id="contextMenu" style="display:none;">
                <ul>
                    <li id="del">
                        <span class="glyphicon glyphicon-trash" style="float:left"></span>
                        <span style="font-size:100%; font-family:Verdana;margin-left:10px;">Delete Row</span>
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</body>
</html>
