<!DOCTYPE html>
<html>
<head>
    @{Html.RenderPartial("~/Views/Shared/_LayoutHeader.cshtml");}
    <title>EB.ISCS - ERP</title>
</head>
<body>
    <div class="wrapper">
        @RenderBody()
        
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
