<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>qs</title>
    <link href="~/Scripts/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
    <script src="~/Scripts/jQuery/jquery-3.0.0.js"></script>
    <script src="~/Scripts/echarts/dist/echarts.min.js"></script>
    <script src="~/Scripts/echarts/map/js/china.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular/angular.min.js"></script>
    <style>
        .dsbody {
            background-image: url(/Content/images/ds-bg-2.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
            background-attachment: fixed;
            color: white;
            opacity: 0.8;
        }

        .ds-info-box-text {
            padding: 2px
        }

        .ds-info-box {
            text-align: center;
        }

        .ds-chart {
            height: 240px;
            min-height: 240px;
        }

        .ds-section {
            font-weight: bolder;
            height: 30px;
            width: auto;
            line-height: 30px;
            font-size: 18px;
            background-color: rgba(255,255,255,0.2);
            text-align: center;
            margin: 5px;
            vertical-align: middle;
        }

        .glyphicon-arrow-up {
            color: darkgreen;
            font-size: 13px;
        }

        .glyphicon-arrow-down {
            color: darkred;
            font-size: 15px;
        }
    </style>
</head>
<body class="dsbody">

    <div class="container-fluid" style="margin-top: 5px;" ng-app="DashBoardApp" ng-controller="DashBoardController">
        @*第一行*@
        <div class="row">
            @*今日实时*@
            <div class="col-md-4" style="height: 280px;" id="main_tag">
                <div class="ds-section">
                    今日实时
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 140px">
                    <span class="ds-info-box-text">付款订单</span>
                    <div class="ds-info-box">
                        <h2>{{PayOrder.Value}}</h2>
                        <span class="text-right">环比<i class="glyphicon {{PayOrder.TagIco}}"></i>  <small>{{PayOrder.MOM}}</small></span>
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 140px">
                    <span class="ds-info-box-text">付款金额</span>
                    <div class="ds-info-box">
                        <h2> <small>¥</small>{{PayMoney.Value}}</h2>
                        <span class="text-right">环比<i class="glyphicon {{PayMoney.TagIco}}"></i><small>{{PayMoney.MOM}}</small></span>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 140px">
                    <span class="ds-info-box-text">访客数</span>
                    <div class="ds-info-box">
                        <h2>{{Visttor.Value}}</h2>
                        <span class="text-right">环比<i class="glyphicon {{Visttor.TagIco}}"></i><small>{{Visttor.MOM}}</small></span>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 140px">
                    <span class="ds-info-box-text">付款件数</span>
                    <div class="ds-info-box">
                        <h2>{{PayGoodNum.Value}}</h2>
                        <span class="text-right">环比<i class="glyphicon {{PayGoodNum.TagIco}}"></i><small>{{PayGoodNum.MOM}}</small></span>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
            @*地图*@
            <div class="col-md-4 col-sm-4" style="height: 280px;" id="div_map"></div>
            @*交易分析*@
            <div class="col-md-4 col-sm-4" style="height: 280px;">
                <div class="ds-section">
                    交易分析
                </div>
                <div class="row" style="margin:0px">
                    <div class="col-md-4 col-sm-4" style="height: 280px;" id="div_topN"></div>
                    <div class="col-md-8 col-sm-8" style="height: 280px;">
                        <div class="col-sm-12" style="height: 140px;" id="div_sellMoney"></div>
                        <div class="col-sm-12" style="height: 140px;" id="div_bottomN"></div>
                    </div>
                </div>
            </div>
        </div>
        @*第二行*@
        <div class="row">
            <div class="col-md-4 col-sm-4 ds-chart">
                <div class="ds-section">
                    最近30天流量分析
                </div>
                <div style="height: 100%;" id="div_flow">  </div>
            </div>
            <div class="col-md-8 col-sm-8 ds-chart">
                <div class="ds-section">
                    订单分析
                </div>
                <div class="col-md-6 col-sm-6 ds-chart">
                    <div class="col-sm-6" style="height:100%;" id="div_orderTrans"></div>
                    <div class="col-sm-6" style="height:100%;" id="div_orderPay"></div>
                </div>
                <div class="col-md-6 col-sm-6" style="height:  100%;" id="div_orderStatus"></div>
            </div>
        </div>
        @*第三行*@
        <div class="row">
            <div class="col-md-4 ds-chart">
                <div class="ds-section">
                    客户分析
                </div>
                <div class="col-sm-6" style="height: 100%;" id="div_customerType"></div>
                <div class="col-sm-6" style="height: 100%;" id="div_customerAddr"></div>
            </div>
            <div class="col-md-4 ds-chart">
                <div class="ds-section">
                    时效分析
                </div>
                <div class="col-sm-6" style="height: 100%;" id="div_logisticsTime"></div>
                <div class="col-sm-6" style="height: 100%;" id="div_logistics"></div>
            </div>
            <div class="col-md-4 ds-chart" id="main_6">
                <div class="ds-section">
                    客诉分析
                </div>
                <div class="col-sm-6" style="height: 100%;" id="div_complain"></div>
                <div class="col-sm-6" style="height: 100%;" id="div_complainType"></div>
            </div>
        </div>
    </div>
    <script src="~/ViewScript/home/dashboard-const.js"></script>
    <script src="~/ViewScript/home/dashboard-chartoption.js"></script>
    <script src="~/ViewScript/home/dashboard-dataquery.js"></script>
</body>
</html>