<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>qs</title>
    <script src="~/Scripts/jQuery/jquery-3.0.0.js"></script>
    <script src="~/Scripts/echarts/dist/echarts.min.js"></script>
    <script src="~/Scripts/echarts/map/js/china.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="~/Scripts/bootstrap/css/bootstrap-theme.css" type="text/css" rel="stylesheet">

    <style>
        .dsbody {
            background-image: url(/Content/images/ds-bg-2.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
            background-attachment: fixed;
            color: white;
            opacity: 0.8;
        }

        .ds-info-box-text {
            padding: 2px
        }

        .ds-info-box {
            text-align: center;
        }

        .ds-section {
            font-weight: bolder;
            height: 30px;
            width: auto;
            line-height: 30px;
            font-size: 18px;
            background-color: rgba(255,255,255,0.2);
            text-align: center;
            margin: 5px;
            vertical-align: middle;
        }
    </style>
</head>
<body class="dsbody">
    
    <div class="container-fluid" style="margin-top: 5px;">
        <div class="row">
            <div class="col-md-4" style="height: 350px;" id="main_tag">
                <div class="ds-section">
                    今日实时
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 175px">
                    <span class="ds-info-box-text">付款订单</span>
                    <div class="ds-info-box">
                        <h1 >90</h1>
                        <span class="text-right">环比<i class="glyphicon-arrow-up"></i>  <small>12.1%</small></span>
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 175px">
                    <span class="ds-info-box-text">付款金额</span>
                    <div class="ds-info-box">
                        <h1 > <small>¥</small>  41,410</h1>
                        <span class="text-right">环比<i class="glyphicon-arrow-up"></i><small>12.1%</small></span>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 175px">
                    <span class="ds-info-box-text">访客数</span>
                    <div class="ds-info-box">
                        <h1 class="info-box-number">760</h1>
                        <span class="text-right">环比<i class="glyphicon-arrow-down"></i><small>12.1%</small></span>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 175px">
                    <span class="ds-info-box-text">付款件数</span>
                    <div class="ds-info-box">
                        <h1 >2,000</h1>
                        <span class="text-right">环比<i class="glyphicon-arrow-down"></i><small>12.1%</small></span>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4" style="height: 400px;" id="main_map"></div>
            <div class="col-md-4 col-sm-4" style="height: 350px;">
                <div class="section">
                    交易分析
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4" style="height: 350px;" id="main_line_3"></div>
                    <div class="col-md-8 col-sm-8" style="height: 350px;">
                        <div class="col-sm-12" style="height: 175px;" id="main_line_1"></div>
                        <div class="col-sm-12" style="height: 175px;" id="main_line_2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4" style="height: 400px;">
                <div class="section">
                    最近30天流量分析
                </div>
                <div style="height: 400px;width: 100%" id="main_1">  </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="section">
                    订单分析
                </div>
                <div class="col-md-6 col-sm-6" style="height: 400px;">
                    <div class="col-sm-6" style="height: 400px;" id="main_2_1"></div>
                    <div class="col-sm-6" style="height: 400px;" id="main_2_2"></div>
                </div>
                <div class="col-md-6 col-sm-6" style="height: 400px;" id="main_3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="height: 240px;">
                <div class="section">
                    客户分析
                </div>
                <div class="col-sm-6" style="height: 240px;" id="main_4_1"></div>
                <div class="col-sm-6" style="height: 240px;" id="main_4_2"></div>
            </div>
            <div class="col-md-4" style="height: 240px;">
                <div class="section">
                    时效分析
                </div>
                <div class="col-sm-6" style="height: 240px;" id="main_5_1"></div>
                <div class="col-sm-6" style="height: 240px;" id="main_5_2"></div>
            </div>
            <div class="col-md-4" style="height: 240px;" id="main_6">
                <div class="section">
                    客诉分析
                </div>
                <div class="col-sm-6" style="height: 240px;" id="main_6_1"></div>
                <div class="col-sm-6" style="height: 240px;" id="main_6_2"></div>
            </div>
        </div>
    </div>

    <script src="~/ViewScript/home/dashbord.js"></script>
</body>
</html>