<!DOCTYPE html>
<html>
<head>
    <title>网店鹰眼 | Dashboard</title>
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">*@
    <!-- jvectormap -->
    <link href="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
</head>
<body style="height:auto;">
    <section class="content">
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12" style="height: 100%;background: url('/Content/images/sea2-main.png') no-repeat fixed center">
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- jQuery 2.2.0 -->
    @*<script src="plugins/jQuery/jQuery-2.2.0.min.js"></script>*@
    <!-- Bootstrap 3.3.6 -->
    @*<script src="bootstrap/js/bootstrap.min.js"></script>*@
    <!-- FastClick -->
    @*<script src="plugins/fastclick/fastclick.js"></script>*@
    <!-- AdminLTE App -->
    @*<script src="dist/js/app.min.js"></script>*@
    <!-- Sparkline -->
    <script src="~/Scripts/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Scripts/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- SlimScroll 1.3.0 -->
    @*<script src="~/Scripts/slimScroll/jquery.slimscroll.min.js"></script>*@
    <!-- ChartJS 1.0.1 -->
    <script src="~/Scripts/chartjs/Chart.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Scripts/adminlte/pages/dashboard2.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/adminlte/demo.js"></script>
</body>
</html>