@model EB.ISCS.FrameworkEntity.SystemEntity.SysUser
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>同步配置</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/viewscript/sys/synchronization/index.js"></script>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" role="form" id="search_form" w5c-form-validate="" novalidate name="validateForm" ng-app="CfgApp" ng-controller="CfgController" ng-init="onload('@ViewBag.Id')">
            <div class="modal-body row">
                <p>店铺结构树</p>
                <div class="col-md-4">
                    <div class="easyui-panel" style=" height:500px; padding-left:0px">
                        <ul id="shop-tree"></ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">同步周期：</label>
                            <div class="col-md-4">
                                <input class="form-control" type="number" ng-model="cfg.SyncPeriod" name="SyncPeriod" maxlength="20" required />
                            </div>
                            <label class="col-sm-2 control-label">同步单位：</label>
                            <div class="col-md-4">
                                <select class="form-control" ng-model="cfg.SyncUnit" ng-options="icon.id as icon.name for icon in icons" name="SyncUnit" ng-selected="icon.id=='0'"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">修改时间：</label>
                            <div class="col-md-4">
                                <p class="form-control-static" ng-model="cfg.EditDate">--</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">说明：</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">调整完毕在下一个同步时间点生效</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_save_permission" class="btn btn-primary">保存同步配置</button>
            </div>
        </form>
    </div>
</body>
</html>