<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/ViewScript/task/tasksingleinfo/formpartchoice.js"></script>

    <link href="~/Scripts/EB.ISCSDesigner/forms/css/EB.ISCS.designpreview.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrapValidator.min.js"></script>
    <script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/EB.ISCSDesigner/EB.ISCSDesign.Config.js"></script>
    <script src="~/Scripts/EB.ISCSDesigner/forms/EB.ISCSPreView.js"></script>
    <style type="text/css">
        .left_div {
            width: 80%;
            float: left;
        }

        .right_div {
            width: 19.5%;
            float: left;
            padding: 0 10px;
        }

        #selectable {
            margin: 0;
            padding: 0;
        }

        #defualtForm .ui-selecting {
            background: #FECA40;
        }

        #defualtForm .ui-selected > label {
            color: #f00;
        }
    </style>
</head>
<body>
    <div class="container" ng-app="FormPartChoiceApp" ng-controller="FormPartChoiceController" ng-init="onload(@ViewBag.Id)" style=" width: 100%; height: 100%; padding: 5px;">
        <div style=" width: 100%; border-bottom:1px solid #ccc; padding: 5px; background:#f1f1f1;">
            <div class="btn-group" role="group" aria-label="...">
                <button id="btn_conform" class="btn btn-default" data-permisson="actionbutton">确定</button>
                <button id="btn_cancel" class="btn btn-default" data-permisson="actionbutton">取消</button>
                <span id="select-result"></span>
            </div>
        </div>
        <form id="defualtForm">
            <div style="width: 100%; height: 800px; overflow-y: auto; padding: 20px;" id="preViewDiv">

            </div>
        </form>
    </div>
</body>
</html>
