<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/ViewScript/task/taskcompositeInfo/index.js"></script>
    <title>复合任务管理</title>
    <style type="text/css">
        /*.combo 样式，在需要下拉框与顶部按钮同行时，必须在页面内使用此样式*/
        .combo {
            border-radius: 0 3px 3px 0px !important;
            margin-left: -1px;
            width: 150px !important;
            height: 34px !important;
        }

            .combo > input {
                font-size: 14px !important;
            }
    </style>
</head>

<body>
    <div ng-app="TaskCompositeListApp" ng-controller="TaskCompositeListController" style="margin: 10px 0px; padding: 5px;">
        <div style="margin-bottom: 10px;">
            <div class="btn-group" role="group" aria-label="...">
                <button id="btn_add" class="btn btn-default" data-permisson="actionbutton" ng-click="add()">新建</button>
                <button id="btn_edit" class="btn btn-default" data-permisson="actionbutton">编辑</button>
                <button id="btn_del" class="btn btn-default" data-permisson="actionbutton">删除</button>
                <button id="btn_createflow" class="btn btn-default" data-permisson="actionbutton">流程设计</button>
                <button id="btn_refresh" class="btn btn-default" data-permisson="actionbutton">刷新</button>
                <select id="dicTypeSelect" class="easyui-combotree" name="dicType"></select>
                <input type="hidden" name="MenuId" id="MenuId" value="@ViewBag.MenuId" />
            </div>
        </div>
        <table id="jqGrid"></table>
    </div>
</body>
</html>
