@using EB.ISCS.Admin.Models
<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/ViewScript/task/mytaskorder/edit.js"></script>
    <meta charset="utf-8" />
    <title>表单预览</title>
</head>
<body>
    <div class="container" ng-app="MyTaskOrderEditApp" ng-controller="MyTaskOrderEditController" ng-init="onload(@ViewBag.Id)">
        <form class="form-horizontal" role="form" w5c-form-validate="" novalidate name="validateForm">
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">任务类型</label>
                        <div class="col-md-4">
                            <select id="dicTypeSelect" class="easyui-combotree" name="dicType" style="width: 280px; height: 35px;" 
                                    ng-required="true" ng-change="selectChange();" ng-model="grade"></select>
                            @*<select id="taskType" class="form-control easyui-combotree" name="taskType" style="width: 280px; height: 35px;" ng-required="true"></select>*@
                        </div>
                        <label class="col-sm-2 control-label">选择任务</label>
                        <div class="col-md-4">
                            <select id="taskList" class="form-control easyui-combotree" name="taskList" style="width: 280px; height: 35px;" ng-required="true">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button id="btn_Save" class="btn btn-primary" ng-click="onSave()">创建</button>
                <button id="btn_return" class="btn btn-default" ng-click="onclose()">取消</button>
            </div>
        </form>
    </div>
</body>
</html>
