<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/ViewScript/task/mytaskorder/index.js"></script>
    <title>任务发布器</title>
    <style type="text/css">
        /*.combo 样式，在需要下拉框与顶部按钮同行时，必须在页面内使用此样式*/
        .combo {
            border-radius: 0 3px 3px 0px !important;
            margin-left: -1px;
            width: 150px !important;
            height: 34px !important;
        }

            .combo > input {
                font-size: 14px !important;
            }
    </style>
</head>

<body class="full-height-layout">
    <div ng-app="MyTaskOrderApp" ng-controller="MyTaskOrderController" style="margin: 10px 0px; padding: 5px;">
        <div style="margin-bottom: 10px;">
            <div class="btn-group" role="group" aria-label="...">
                <button id="btn_add" class="btn btn-default btn-primary" data-permisson="actionbutton" ng-click="add()">创建任务</button>
                <button id="btn_edit" class="btn btn-default" data-permisson="actionbutton">编辑</button>
                <button id="btn_del" class="btn btn-default" data-permisson="actionbutton">删除</button>
                @*<button id="btn_create" class="btn btn-default" data-permisson="actionbutton">表单设计</button>*@
                <button id="btn_refresh" class="btn btn-default" data-permisson="actionbutton">刷新</button>
                <select id="dicTypeSelect" class="easyui-combotree" name="dicType"></select>
                <input type="hidden" name="MenuId" id="MenuId" value="@ViewBag.MenuId" />
            </div>
        </div>
        @*加侧边栏*@
        <div class="wrapper">
            <aside class="main-sidebar">
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a class="J_menuItem" data-content="content-main" data-iframe="true" href="#"><i class="fa fa-dashboard"></i> <span>代办任务</span></a>
                        </li>
                        <li><a class="J_menuItem" data-content="content-main" data-iframe="true" href="#"><i class="fa fa-circle-o"></i> <span>完成任务</span></a></li>
                        <li><a class="J_menuItem" data-content="content-main" data-iframe="true" href="#"><i class="fa fa-book"></i> <span>跟踪任务</span></a></li>
                    </ul>
                </section>
            </aside>
            <div class="content-wrapper">
                <div id="J_mainContent" class="J_mainContent">
                    <table id="jqGrid"></table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
