
<!DOCTYPE html>

<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/ViewScript/Sys/user/index.js"></script>
    <meta charset="utf-8" />
    <title>用户管理</title>
</head>
<body>
    <div style="margin:10px 0px; padding:5px;" ng-app="UserApp" ng-controller="UserController">
        <div style="margin-bottom:10px;">
            <div class="btn-group" role="group" aria-label="...">
                <button id="btn_add" class="btn btn-default" data-permisson="actionbutton">新增</button>
                <button id="btn_edit" class="btn btn-default" data-permisson="actionbutton">编辑</button>
                <button id="btn_del" class="btn btn-default" data-permisson="actionbutton">删除</button>
                <button id="btn_user_Permissions" class="btn btn-default" data-permisson="actionbutton">用户权限</button>
                <button id="btn_refresh" class="btn btn-default" data-permisson="actionbutton">刷新</button>
            </div>
            <input type="hidden" name="MenuId" id="MenuId" value="@ViewBag.MenuId" />
        </div>
    
        <table id="jqGrid"></table>
    </div>

</body>
</html>
