<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/ViewScript/project/businessprojectstageinfo/edit.js"></script>
    <meta charset="utf-8" />
    <title>项目阶段详情编辑</title>
</head>
<body>
    <div class="container" ng-app="EditApp" ng-controller="EditController" ng-init="onload(@ViewBag.Id)">
        <form class="form-horizontal" role="form" w5c-form-validate="" novalidate name="validateForm">
            <div class="modal-body">
                <div class="form-group">
                    @*<div class="form-group">
                        <label class="col-sm-2 control-label">项目组名称</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" ng-model="model.Name" name="Name" maxlength="20" ng-required="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" ng-model="model.Remark" name="Remark" maxlength="20" ng-required="true" />
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属项目</label>
                        <div class="col-md-4">
                            <select id="project" ng-model="model.ProjectId" name="Project" style="width: 290px; height: 35px;"></select>
                        </div>
                        <label class="col-sm-2 control-label">所属项目阶段</label>
                        <div class="col-md-4">
                            <select id="projectStage" class="easyui-combobox" data-options="disabled:'true'" ng-model="model.ProjectStageId" name="ProjectStage" style="width: 290px; height: 35px;"></select>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-sm-2 control-label">项目组类型</label>
                        <div class="col-md-4">
                            <select id="GroupType" class="easyui-combotree" ng-model="model.GroupType" name="GroupType" style="width: 290px; height: 35px;"></select>
                        </div>
                        <label class="col-sm-2 control-label">是否启用</label>
                        <div class="col-md-4">
                            <label class="radio-inline">
                                <input name="group_enabled" type="radio" value="1" ng-model="model.Enabled" ng-checked="true">是
                            </label>
                            <label class="radio-inline">
                                <input name="group_enabled" type="radio" value="0" ng-model="model.Enabled">否
                            </label>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_Save" class="btn btn-primary" w5c-form-submit="onSave()">保存</button>
                <button id="btn_return" class="btn btn-default" ng-click="onclose()">返回</button>
            </div>
        </form>
    </div>
</body>
</html>

