
<!DOCTYPE html>

<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <meta charset="utf-8" />
    <title>投诉管理</title>
</head>
<body>
    <div style="margin:10px 0px; padding:5px;">
        <div class="jumbotron">
            <h1>你想投诉吗?</h1>
            <p>尽管投诉吧，反正我们是不会处理的.....啦啦啦啦啦</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">猛戳这里发泄一下</a></p>
        </div>
    </div>

</body>
</html>
